
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: "Rubik","Merriweather";
  color: #cd6326 #333333 #666666 #f7f7f7 #080029 ;
  padding: 0;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0px;
  margin: 0px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #080029;
  margin-left: 130px;
}
.logo {
  display: flex;
  height: 45px;
  position: fixed;
  margin-left: 13px;
  margin-top: 23px;
  position: fixed;
}
.container-title {
  width: 1800px;
  height: 90px;
  display: flex;
  border: 2px solid #F0F0F0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  margin-left: 60px;
  margin-top: 25px;
}
.profile{
  display: flex;
  height: 50px;
  padding-left: 660px;
  padding-top: 16px;
}
.nav_h{
padding-top: 32px;
margin-left: 53px;
}
.nav_h a:nth-child(2) {
  position: relative;
  left: -2px;
}
.nav_h a:nth-child(3) {
  position: relative;
  left: -5px;
}
.nav_h a:nth-child(4) {
  position: relative;
  left: -9px;
}
.nav_h a:nth-child(5) {
  position: relative;
  left: -12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.soc_link{
  display: inline;
  text-align: -webkit-center;
}
.sidebar {
  width: 90px;
  height: 760px;
  margin: 0;
  padding: 0;
  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #F0F0F0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 26px;
  left: 0;
  margin-left: 60px;
  text-align: center;
}
.sidebar button {
  display: flex;
  color: black;
  padding: 18px;
  text-decoration: none;
}

 .sidebar button:hover:not(.active) {
   background-color: #555;
   color: white;
 }

 .sidebar button:nth-child(1){
  position: relative;
  left: -5px;
  border-bottom: 2px solid #F0F0F0;
  padding-top: 22px;
  padding-bottom: 13px;
}

 .sidebar button:nth-child(2){
  position: relative;
  margin-top: 231px;
 }
 .sidebar button:nth-child(3){
  position: relative;
  top: 4px;
 }

 .sidebar button:nth-child(4){
  position: relative;
  top: 14px;
 }
 .sidebar button:nth-child(5){
  position: relative;
  top: 74px;
 }

/* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
}

/* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
}

.first_screen{
  display: flex;
  width: 1920px;
  height: 865px;
}
.usp{
  display: inline;
  width: 699px;
  height: 488px;
  margin-left: 243px;
  margin-top: 132px;
}
.usp p{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.115em;
color: #626262;
}

.usp h1{
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 84px;
line-height: 106px;
color: #080029;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-top: 24px;
}
.btns{
  padding-top: 61px;
}
.btns button:nth-child(2){
  margin-left: 59px;
}
.panda{
  background-image: url(/online-zoo/assets/images/ph.svg);
  width: 696px;
  height: 673px;
  border-radius: 4px;
  position: relative;
  top: 55px;
  left: 39px;
}

.second_screen{
  display: flex;
  width: 1920px;
 height: 870px;
 background: #FCFCFC;
}
.ph{
 display: flex;
 width: 512px;
height: 760px;
margin-left: 245px;
}
.about{
  display: inline;
  width: 696px;
  height: 477px;
  margin-left: 222px;
  margin-top: 140px;
}
.about h1{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.115em;
color: #0B0B0B;
}
.about h2{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
  margin-top: 50px;
}
.about p{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #747474;
margin-top: 39px;
}
.about button{
  margin-top: 60px;
}
.famous_pets{
display: flex;
width: 1920px;
height: 896px;
background: #D9E8FF;
}
.slider_text{
  width: 356px;
  margin-left: 244px;
  margin-top: 318px;
  height: 364px;
}
.slider_text p{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}
.slider_text h1{
  height: 157px;
  width: 283px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
  margin-top: 50px;
}
.click{
  display: inline;
  position: relative;
  top: 54px;
}
.click button:nth-child(2){
  margin-left: 16px;
}
.animal_cards{
  width: 1310px;
  height: 696px;
  margin-top: 100px;
  margin-left: 13px;
}
.animal{
  width: 328px;
  z-index: 2;
  height: 328px;
  border-radius: 5px;
  float: left;
  display: flex;
  margin-right: 40px;
  margin-bottom: 40px;
  transition: 0.5s;
}

.animal:hover {
  background-image: url('../../assets/images/animal_card\ 6.svg');
  transition: 0.5s;
}
.animal img:hover {
  opacity: 0;
}
.pay{
  display: flex;
  margin-left: 240px;
}
.fourth_screen{
display: flex;
width: 1920px;
height: 1300px;
background: #FCFCFC;
}
.fourth_screen p{
/* display: flex;
height: 26px;
margin-left: 188px;
margin-top: 101px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.115em;
color: #0B0B0B; */
}

.pay_title-container {
  display: flex;
  flex-direction: column;
  width: 807px;
  position: relative;
  left: 20px;
  height: 214px; 
}

.pay_wrapper {
  width: 100%;
  height: 500px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.pay_title-container p {
  margin-top: 10px;
}
.pay_container {
  width: 807px;
  height: 214px; 
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.lock{
  
  display: flex;
  flex-direction: column;
}

.lock p {
width: 456px;
height: 84px;
  font-family: Rubik;
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 154%;
}
.lock h1 {
  width: 338px;
height: 52px;
 
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 145%;
/* or 52px */
}
/*.animal_2{
  width: 328px;
  height: 328px;
  border-radius: 5px;
}
.animal_3{
  width: 328px;
  height: 328px;
  border-radius: 5px;
}
.animal_4{
  width: 328px;
  height: 328px;
  border-radius: 5px;
}
.animal_5{
  width: 328px;
  height: 328px;
  border-radius: 5px;
}
.animal_6{
  width: 328px;
  height: 328px;
  border-radius: 5px;
}
.header {
  width: 1920px;
  /*height: 779px;
  background-image: url(./assets/Rectangle\ hero.svg);
  background-color: #ffffff;
}

.container-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding-top: 19px;
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.logo span {
  padding-left: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #f7f7f7;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav a {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  font-family: Open Sans;
  color: #f7f7f7;
}
.nav_h {
  display: flex;
  width: 480px;
  flex-direction: row;
  justify-content: space-around;
}
.nav_h a:first-child {
  position: relative;
  left: -23px;
}
.nav_h a:nth-child(2) {
  position: relative;
  left: -6px;
}
.nav_h a:nth-child(3) {
  position: relative;
  left: 9px;
  top: 8px;
}
.sign {
  width: 120px;
  height: 50px;
  position: relative;
  left: 24px;
  top: 6px;
  border: 2px solid #cd6326;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #f7f7f7;
}
.sign:hover{
  background: tomato;
  text-decoration: underline;
}
.offer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 131px;
  left: 119px;
}
.offer h1 {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 2px;
  color: #cd6326;
}
.offer p {
  margin-top: 58px;
  width: 274px;

  font-family: Open Sans;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.offer div {
  width: 160px;
  height: 60px;
  line-height: 60px;
  display: flex;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background: #cd6326;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  font-size: 23px;
  color: #f7f7f7;
}
.offer div:hover{
  text-decoration: underline;
  border: 2px solid #cd6326;
}

.offer div a {
  position: relative;
  left: 1px;
  top: -2px;
}
.section {
  width: 1440px;
  height: 1368px;
  background: #cccccc;
  border-radius: 0px;
  text-align: center;
}
.news h2 {
  position: relative;
  top: 4px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
  padding-top: 120px;
}
.news p {
  position: relative;
  top: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  padding-top: 20px;
}
.gallery {
  margin-top: 121px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
}
.deer {
  width: 300px;
  height: 360px;
  background-image: url(./assets/deer.svg);
  background-repeat: no-repeat;
  margin-left: 60px;
}
.squirrel {
  width: 300px;
  height: 360px;
  background-image: url(./assets/squrrel.svg);
  background-repeat: no-repeat;
  margin-left: 60px;
}
.bird {
  width: 300px;
  height: 360px;
  background-image: url(./assets/bird.svg);
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-right: 60px;
}
.text_hd {
  padding-top: 248px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #f7f7f7;
}
.text {
  padding-top: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  color: #f7f7f7;
}
.vector {
  padding-top: 165px;
}
.get {
  padding-top: 240px;
}
.get h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 40px;
  color: #333333;
}
.from {
  padding-top: 60px;
  display: flex;
  padding-left: 389px;
}
.from p {
  width: 540px;
  height: 60px;
  border: 1px solid #666666;
  color: #666666;
  line-height: 60px;
  padding-left: 14px;
  text-align: left;
  font-size: 23px;
}
.from a {
  right: 15px;
  top: 1px;
  position: relative;
  width: 120px;
  height: 60px;
  text-decoration: none;
  background: #cd6326;
  justify-content: center;
  line-height: 60px;
  font-size: 23px;
  color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
.from a:hover{
  text-decoration: underline;
  border: 2px solid #cd6326;
  border-radius: 5px;
}
.footer {
  width: 1440px;
  height: 359px;
  background-image: url(./assets/Rectangle\ footer.svg);
}
.container-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
  padding-top: 150px;
}
.logo-footer{
  position: relative;
  top: 2px;
}
.logo-footer span{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  color: #F7F7F7;
  text-align: center;
  position: relative;
  bottom: 18px;
  left: 11px;
}
.about_us{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.about_us a{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 60px;
  color: #F7F7F7;
  text-decoration: none;
}
.about{
  display: flex;
  width: 580px;
  flex-direction: row;
  justify-content: space-around;
}
.about a:first-child{
  position: relative;
  top: 3px;
  right: 7px;
}
.about a:nth-child(2){
  position: relative;
  right: 13px;
  top: 2px;
}
.about a:nth-child(3){
  position: relative;
  right: 17px;
  top: 3px;
}
.soc{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.soc a:first-child{
  position: relative;
  right: 49px;
  top: 12px;
}
.soc a:nth-child(2){
  position: relative;
  right: 22px;
  top: 12px;
}
.soc a:nth-child(3){
  position: relative;
  left: 4px;
  top: 12px;
}
.soc a:nth-child(4){
  position: relative;
  left: 29px;
  top: 8px;
}