
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  width: 1920px;
  font-family: "Rubik","Merriweather";
  color: #cd6326 #333333 #666666 #f7f7f7 #080029 ;
  padding: 0;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0px;
  margin: 0px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #080029;
  margin-left: 130px;
}
.logo {
  display: flex;
  height: 45px;
  position: fixed;
  margin-left: 13px;
  margin-top: 23px;
  position: fixed;
}
.container-title {
  width: 1800px;
  height: 90px;
  display: flex;
  border: 2px solid #F0F0F0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  margin-left: 60px;
  margin-top: 25px;
}
.profile{
  display: flex;
  height: 50px;
  padding-left: 660px;
  padding-top: 16px;
}
.nav_h{
padding-top: 32px;
margin-left: 53px;
}
.nav_h a:nth-child(2) {
  position: relative;
  left: -2px;
}
.nav_h a:nth-child(3) {
  position: relative;
  left: -5px;
}
.nav_h a:nth-child(4) {
  position: relative;
  left: -9px;
}
.nav_h a:nth-child(5) {
  position: relative;
  left: -12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.soc_link{
  display: inline;
  text-align: -webkit-center;
}
.sidebar {
  width: 90px;
  height: 760px;
  margin: 0;
  padding: 0;
  background: rgba(252, 252, 252, 0.02);
  border: 2px solid #F0F0F0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  position: fixed;
  overflow-x: hidden;
  z-index: 1;
  top: 26px;
  left: 0;
  margin-left: 60px;
  text-align: center;
}
.sidebar button {
  display: flex;
  color: black;
  padding: 18px;
  text-decoration: none;
}

 .sidebar button:hover:not(.active) {
   background-color: #555;
   color: white;
 }

 .sidebar button:nth-child(1){
  position: relative;
  left: -5px;
  border-bottom: 2px solid #F0F0F0;
  padding-top: 22px;
  padding-bottom: 13px;
}

 .sidebar button:nth-child(2){
  position: relative;
  margin-top: 231px;
 }
 .sidebar button:nth-child(3){
  position: relative;
  top: 4px;
 }

 .sidebar button:nth-child(4){
  position: relative;
  top: 14px;
 }
 .sidebar button:nth-child(5){
  position: relative;
  top: 74px;
 }

/* На экранах шириной менее 700 пикселей превратить боковую панель в верхнюю панель */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
}

/* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
}

.first_screen{
  display: flex;
  width: 1920px;
  height: 865px;
}
.usp{
  display: inline;
  width: 699px;
  height: 488px;
  margin-left: 243px;
  margin-top: 132px;
}
.usp p{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.115em;
color: #626262;
}

.usp h1{
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 84px;
line-height: 106px;
color: #080029;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-top: 24px;
}
.btns{
  padding-top: 61px;
}
.btns button:nth-child(2){
  margin-left: 59px;
}
.panda{
  background-image: url(/online-zoo/assets/images/Panda\ Lending.png);
  width: 696px;
  height: 673px;
  border-radius: 4px;
  position: relative;
  top: 55px;
  left: 39px;
}

.second_screen{
  display: flex;
  width: 1920px;
 height: 870px;
 background: #FCFCFC;
}
.ph{
  background-image: url(/online-zoo/assets/images/Lion\ Lending.png);
 display: flex;
 width: 512px;
height: 760px;
border-radius: 4px;
margin-left: 245px;
}
.about{
  display: inline;
  width: 696px;
  height: 477px;
  margin-left: 222px;
  margin-top: 140px;
}
.about h1{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.115em;
color: #0B0B0B;
}
.about h2{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
  margin-top: 50px;
}
.about p{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #747474;
margin-top: 39px;
}
.about button{
  margin-top: 60px;
}
.famous_pets{
display: flex;
width: 1920px;
height: 896px;
background: #D9E8FF;
}
.slider_text{
  width: 356px;
  margin-left: 244px;
  margin-top: 318px;
  height: 364px;
}
.slider_text p{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}
.slider_text h1{
  height: 157px;
  width: 283px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
  margin-top: 50px;
}
.click{
  display: inline;
  position: relative;
  top: 54px;
}
.click button:nth-child(2){
  margin-left: 16px;
}
.animal_cards{
  width: 1310px;
  height: 696px;
  margin-top: 100px;
  margin-left: 13px;
}
.animal{
  width: 328px;
  z-index: 2;
  height: 328px;
  border-radius: 5px;
  float: left;
  display: flex;
  margin-right: 40px;
  margin-bottom: 40px;
  transition: 1s;
}

.animal:nth-child(1):hover {
  background-image: url('/online-zoo/assets/images/hover\ 1.png');
  transition: 1s;
}
.animal:nth-child(2):hover {
  background-image: url('/online-zoo/assets/images/hover\ 2.png');
  transition: 1s;
}
.animal:nth-child(3):hover {
  background-image: url('/online-zoo/assets/images/hover\ 3.png');
  transition: 1s;
}
.animal:nth-child(4):hover {
  background-image: url('/online-zoo/assets/images/hover\ 4.png');
  transition: 1s;
}
.animal:nth-child(5):hover {
  background-image: url('/online-zoo/assets/images/hover\ 5.png');
  transition: 1s;
}
.animal:nth-child(6):hover {
  background-image: url('/online-zoo/assets/images/hover\ 6.png');
  transition: 1s;
}
.animal img:hover {
  transition: 1s;
  opacity: 0;
}
.animal img {
  transition: 1s;
}
.pay{
  display: flex;
  margin-left: 240px;
}
.fourth_screen{
display: flex;
height: 1300px;
background: #FCFCFC;
}

.pay_title-container {
  display: flex;
  flex-direction: column;
  width: 824px;
  height: 322px;
  position: relative;
  left: -120px;
  top: 32px;
}

.pay_wrapper {
  width: 100%;
  height: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pay_title-container p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}
.pay_container {
  width: 907px;
  height: 313px; 
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
    top: 29px;
}

.lock{
  height: 201px;
  position: relative;
  top: 56px;
  left: -83px;
  display: flex;
  flex-direction: column;
}

.lock h2 {
  width: 456px;
height: 84px;
margin-top: 29px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}
.lock h1 {
  width: 338px;
height: 52px;
color: #0F0049;
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 52px;
}
.pay_vector{
  display: flex;
  height: 197px;
  justify-content: center;
    align-items: center;
    position: relative;
    left: 43px;
    bottom: 26px;
}
.payment{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items:center;
  width: 100%;
  height: 322px;
  position: relative;
  top: -110px;
  left: -153px;
}
.payment_vector{
  display: flex;
  height: 197px;
  width: 529px;
  position: relative;
  top: 134px;
  right: 2px;
  justify-content: flex-end;
  align-items: center;

}
.payment_wrapper{
  display: flex;
  width: 810px;
  height: 313px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 46px;
  left: 22px;
}
.lock_wrapper{
  display: flex;
    height: 201px;
    flex-direction: column;
    position: relative;
    top: 105px;
    left: 15px;
}
.lock_wrapper h1{
  width: 440px;
  height: 52px;
  color: #0F0049;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
}
.lock_wrapper h2{
  width: 456px;
  height: 84px;
  margin-top: 29px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #747474;
}
.receives{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  width: 100%;
  height: 322px;
  position: relative;
  top: -74px;
    left: 222px;
}
.receives_wrapper{
  display: flex;
  width: 810px;
  height: 313px;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 46px;
  left: 22px;
}
.Tasks_wrapper{
  width: 456px;
height: 218px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 44px;
  left: 14px;
}
.Tasks_wrapper h1{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #0F0049;
}
.Tasks_wrapper h2{
  margin-top: 28px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}
.five_screen{
  display: flex;
  height: 616px;
  background: #080029;
}
.feedback{
  width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.feedback_text{
  display: flex;
  align-items: center;
  width: 729px;
  height: 417px;
  flex-direction: column;
}
.text_feed{
  display: flex;
  width: 529px;
  height: 292px;
  flex-direction: column;
  position: relative;
  left: 144px;
  top: 1px;
  text-align: inherit;
}
.text_feed h2{
  Width:156px;
Height:26px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}
.text_feed h1{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #FCFCFC;
  position: relative;
    top: 62px;
}
.text_feed p{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FCFCFC;
  position: relative;
    top: 101px;
}
.btn_feed{
  display: flex;
  position: relative;
    top: 60px;
    left: 22px;
}
.reviews{
  display: flex;
  width: 1064px;
height: 419px;
flex-direction: column;
position: relative;
    left: 67px;
    top: 3px;
}
.see_more{
  display: flex;
}
.comment{
  display: flex;
    position: relative;
    top: 20px;
}
.comment img:nth-child(2) {
  margin-left: 16px;
}
.list{
  display: flex;
  position: relative;
    top: 50px;
}
.list button:nth-child(2) {
  margin-left: 20px;
}
.sixth_screen{
  display: flex;
  height: 862px;
  background: #FCFCFC;
}

.Zoogeography{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.map_animal{
  display: flex;
  align-items: center;
  width: 608px;
  height: 669px;
  flex-direction: column;
}
.map_animal h1{
  font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.115em;
color: #000000;
position: relative;
left: 29px;
top: 4px;
}
.animal_card{
  width: 344px;
height: 512px;
background: #FCFCFC;
box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
border-radius: 15px;
position: relative;
text-align: center;
    top: 65px;
    left: 112px;
}
.animal_card h2{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  color: #080029;
  position: relative;
  top: 17px;
}
.animal_card p{
  width: 264px;
height: 84px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #747474;
  position: relative;
    top: 36px;
    left: 40px;
}
.animal_card a{
  position: relative;
    top: 88px;
    left: 3px;
}
.animal_card img{
  border-radius: 15px 15px 0 0;
}
.about_animal{
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 275px;
}
.map{
  display: flex;
  width: 1217px;
  height: 699px;
  position: relative;
  top: -32px;
  left: 4px;
  background-image: url(/online-zoo/assets/fonts/world.png);
}
.map a:nth-child(1){
  display: flex;
  height: 176px;
  position: relative;
  top: 150px;
  left: 107px;
}
.map a:nth-child(2){
  display: flex;
  height: 138px;
  position: relative;
  top: 204px;
  left: 112px;
}
.map a:nth-child(3){
  display: flex;
  height: 134px;
  position: relative;
  top: 332px;
  left: 317px;
}
.map a:nth-child(4){
  display: flex;
  height: 133px;
  position: relative;
  left: 522px;
  top: 194px;
}
.footer{
  display: flex;
  height: 766px;
  background:#0B0B0B;
}
.footer_wrapper{
  display: flex;
  width: 100%;
  height: 620px;
}
.logs{
  display: flex;
    align-items: center;
    width: 608px;
    flex-direction: column;
}
.logs p{
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 49px;
  margin-top: 32px;
  color: #FCFCFC;
  position: relative;
  right: 25px;
}
.logo_footer{
  position: relative;
  top: 100px;
  left: 16px;
}
.rs_logo{
  display: flex;
  width: 303px;
  height: 79px;
  position: relative;
  top: 278px;
  left: 91px;
}
.em_dig{
  position: relative;
  bottom:8px;
}
.em_dig .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  bottom: 9px;
  z-index: 1;
}

.em_dig:hover .tooltiptext {
  visibility: visible;
}
.rs_school .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  bottom: 9px;
  z-index: 1;
}

.rs_school:hover .tooltiptext {
  visibility: visible;
}